<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link href="output.css" rel="stylesheet">
  <script src="https://unpkg.com/htmx.org@2.0.4"
    integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/3f6a90a5aa.js" crossorigin="anonymous"></script>
</head>

<body>


  <div class="flex flex-col w-screen h-screen">

    <div class="flex flex-row flex-grow">

      <!-- Game Canvas -->
      <div hx-get="/game" hx-trigger="load" hx-swap="outerHTML">

      </div>


      <section class="flex flex-col bg-[#01FFFF] w-1/6 border border-cyan-400">

        <div class="h-5/6">
        </div>

        <div class="flex justify-center flex-col h-1/6 p-4">
          <div class="border border-cyan-600 rounded-md p-2">
            <input type="text" placeholder="Type here..." class="bg-[#01FFFF] w-full outline-none">
            <div class="flex flex-row justify-between">
              <button type="">:)</button>
              <button type="">=></button>
            </div>
          </div>
        </div>

      </section>

    </div>

    <nav class="flex flex-start items-center w-screen bg-[#01FFFF]">

      <div id="dashboard-profile-button" hx-get="/dashboard/<%=username %>" hx-swap="innerHTML" hx-trigger="load"
        hx-target="this"></div>

      <button type="button" class="p-2">Character</button>
      <button type="button" class="p-2">Friends</button>
    </nav>

  </div>

</body>

</html>
