<!DOCTYPE html>

<div id="replaceThis" class="text-2xl font-bold flex flex-col items-center justify-center h-screen">
  <h1>500 - Internal Server Error</h1>
  <a href="/" class="button p-2 rounded-md bg-black text-[#FF55FE]">Home</a>
</div>
