<!DOCTYPE html>
<div id="pixi-container" class="bg-black border border-[#FF55FE] text-white w-full">
  <script>
    window.__INITIAL_STATE__ = 'bongousername';
  </script>
  <script type="module" src="<%= file %>">
  </script>
</div>
