<!DOCTYPE html>
<div id="pixi-container" class="bg-black border border-[#FF55FE] text-white w-full">
  <script type="module" src="<%= file %>">
  </script>
</div>

<div id="pixi-player-info" class="w-64 h-64 absolute bg-white z-10 hidden rounded-md p-2">

  <div class="flex justify-end">
    <div id="closeBtnPlayerInfo" class="cursor-pointer">X</div>
  </div>

  <div id="infoCard" class="flex flex-col content-center justify-center">
    <h1 class="font-extrabold">Player</h1>
    <h2 id="infoUsername"></h2>
    <img id="infoAvatar">
  </div>

  <div class="flex justify-end">
    <button type="button" class="bg-slate-400">Send friend request</button>
  </div>

</div>

<script> 
const playerInfoBox = document.getElementById("pixi-player-info");
const closeBtn = document.getElementById("closeBtnPlayerInfo");

closeBtn.addEventListener("click", () => { 
  playerInfoBox.style.display = "none";
});

</script>
